@page "/"
@inject HttpClient Http
<PageTitle>Accueil - Galerie Rénovation</PageTitle>

@if (carousel is null || services is null || products is null || achievements is null)
{
    <Loading />
}
else
{
    <section class="my-5" id="home-carousel-section">
        <div class="container">
            <div class="row my-3">
                <div id="@carousel.UniqueId" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        @{
                            int i = -1;
                            foreach (CarouselItem carouselItem in carousel.Items)
                            {
                                i++;
                                string isActiveClassName = string.Empty;
                                bool isActiveClass = false;
                                if (i == 0)
                                {
                                    isActiveClassName = "active";
                                    isActiveClass = true;
                                }
                                else
                                {
                                    isActiveClassName = string.Empty;
                                    isActiveClass = false;
                                }

                                <button type="button" data-bs-target="#@carousel.UniqueId" data-bs-slide-to="@i" aria-label="Slide @i" class="@isActiveClassName" aria-current="@isActiveClass"></button>
                            }
                        }
                    </div>
                    <div class="carousel-inner">
                        @{
                            int j = -1;
                            foreach (var item in carousel.Items)
                            {
                                j++;
                                string isActiveClassName = string.Empty;
                                if (j == 0)
                                {
                                    isActiveClassName = "active";
                                }
                                else
                                {
                                    isActiveClassName = string.Empty;
                                }
                                <div class="carousel-item @isActiveClassName">
                                    <img src="images/@item.Image" class="d-block w-100" alt="">
                                    <div class="carousel-caption d-none d-md-block">
                                        @if (!string.IsNullOrWhiteSpace(item.Title))
                                        {
                                            <h5 class="text-@item.TextColor">@item.Title</h5>
                                        }
                                        @if (!string.IsNullOrWhiteSpace(item.Description))
                                        {
                                            <p class="text-@item.TextColor">@item.Description</p>
                                        }
                                        @if (!string.IsNullOrWhiteSpace(item.Route))
                                        {
                                            <a class="btn btn-@item.BackgroundColor" href="@item.Route">En savoir plus</a>
                                        }

                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#@carousel.UniqueId" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#@carousel.UniqueId" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section class="my-5" id="intro">
        <div class="container">
            <div class="row my-3">
                <div class="col">
                    <div class="display-3 text-center">Réinventez votre intérieur</div>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-12 col-md-5">
                    <h2>Galerie Rénovation Vous accompagne dans vos projets</h2>
                    <p>Ici un cours texte de présentation qui parle de galerie rénovation, son identité, son but , ce qui fait la différence avec les autres entreprises</p>
                </div>
                <div class="col-12 col-md-7">
                    <img class="w-100" src="images/exx.jpeg">
                </div>
            </div>
        </div>
    </section>

    <section class="my-5" id="offers">
        <div class="container">
            <div class="row my-3">
                <div class="col">
                    <div class="display-3 text-center">Nos forfaits</div>
                </div>
            </div>
            <div class="row my-3">
                <div class="col">
                    <div class="card-group">
                        @{
                            int index = -10;
                            foreach (var service in services)
                            {
                                index += 20;
                                <div class="card shadow-lg bg-light-transparent-@index text-white transparency-90 disable-on-hover">
                                    @if (!string.IsNullOrWhiteSpace(service.Image))
                                    {
                                        <img src="images/@service.Image" class="card-img-top" alt="">
                                    }
                                    <div class="card-body">
                                        <h5 class="card-title my-3">@service.Title</h5>
                                        @if (service.ShortDescriptions.Any())
                                        {
                                            <p class="card-text">
                                                <ul class="list-unstyled">
                                                    @foreach (var description in service.ShortDescriptions)
                                                    {
                                                        <li class="my-2">@description</li>
                                                    }
                                                </ul>
                                            </p>
                                        }

                                    </div>
                                    <NavLink href="offers/#" class="btn align-center btn-light m-3">En savoir plus</NavLink>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="row my-2">
                <div class="col">
                    <p class="lead">
                        Une petite phrase pour conclure la partie services.
                        Une petite phrase pour conclure la partie services.
                        Une petite phrase pour conclure la partie services.
                        Une petite phrase pour conclure la partie services.
                        Une petite phrase pour conclure la partie services.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="my-5 bg-light text-dark" id="products">
        <div class="container">
            <div class="row my-3">
                <div class="col">
                    <h1 class="display-3 text-center">Nos produits phares</h1>
                </div>
            </div>
            <div class="row row-cols-2 row-cols-md-4 my-0 g-3 gy-md-0">
                @foreach (var product in products)
                {
                    <div class="col">
                        <div class="card h-100 transparency-80 scale-out-10 disable-on-hover text-primary">
                            @if (product.Images is not null)
                            {
                                <img src="images/@product.Images.First()" class="card-img-top" alt="@product.Title">
                            }
                            <div class="card-body">
                                <h5 class="card-title">@product.Title</h5>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="row my-3">
                <div class="col text-center">
                    <NavLink class="btn btn-outline-dark" href="/Products">Découvrir plus de produits</NavLink>
                </div>
            </div>
            <div class="row my-3">
                <div class="col">
                    <p class="lead">
                        Une petite phrase pour le SEO et identifier le type de produits, la gamme de produits, etc.
                        Une petite phrase pour le SEO et identifier le type de produits, la gamme de produits, etc.
                        Une petite phrase pour le SEO et identifier le type de produits, la gamme de produits, etc.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="my-5" id="achievements">
        <div class="container">
            <div class="row my-3">
                <div class="col">
                    <h1 class="display-3 text-center">Nos réalisations</h1>
                </div>
            </div>
            <div class="row row-cols-2 row-cols-md-4 my-0">
                @foreach (var achievement in achievements)
                {
                    <div class="col transparency-80 scale-out-10 disable-on-hover g-3 gy-md-0">
                        <div class="card h-100">
                            @if (achievement.Images is not null)
                            {
                                <img src="images/@achievement.Images.First()" class="card-img-top" alt="@achievement.Title">
                            }
                            <div class="card-body">
                                <h5 class="card-title">@achievement.Title</h5>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="row my-3">
                <div class="col text-center">
                    <NavLink class="btn btn-outline-light" href="/achievements">Explorer nos réalisations chez vous</NavLink>
                </div>
            </div>
            <div class="row my-3">
                <div class="col">
                    <p class="lead">
                        Faire comprendre à nos clients que les précédents ont été satisfaits.
                        Faire comprendre à nos clients que les précédents ont été satisfaits.
                        Faire comprendre à nos clients que les précédents ont été satisfaits.
                    </p>
                </div>
            </div>
        </div>
    </section>
}

@code {
    private IEnumerable<Service>? services;
    private IEnumerable<Product>? products;
    private IEnumerable<Achievement>? achievements;
    private Carousel? carousel;

    protected override async Task OnInitializedAsync()
    {
        carousel = await Http.GetFromJsonAsync<Carousel>("data/home-carousel.json");
        services = await Http.GetFromJsonAsync<IEnumerable<Service>>("data/home-services.json");
        products = await Http.GetFromJsonAsync<IEnumerable<Product>>("data/home-products.json");
        achievements = await Http.GetFromJsonAsync<IEnumerable<Achievement>>("data/home-achievements.json");
    }
}