@page "/"
@inject HttpClient Http
<PageTitle>Accueil - Galerie Rénovation</PageTitle>

@if (carousel is null || services is null || products is null || achievements is null)
{
    <Loading />
}
else
{
    <section class="pb-3" id="home-carousel-section">
        <div class="container">
            <div class="row mb-4">
                <div id="@carousel.UniqueId" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        @{
                            int i = -1;
                            foreach (CarouselItem carouselItem in carousel.Items)
                            {
                                i++;
                                string isActiveClassName = string.Empty;
                                bool isActiveClass = false;
                                if (i == 0)
                                {
                                    isActiveClassName = "active";
                                    isActiveClass = true;
                                }
                                else
                                {
                                    isActiveClassName = string.Empty;
                                    isActiveClass = false;
                                }

                                <button type="button" data-bs-target="#@carousel.UniqueId" data-bs-slide-to="@i"
                                aria-label="Slide @i" class="@isActiveClassName" aria-current="@isActiveClass"></button>
                            }
                        }
                    </div>
                    <div class="carousel-inner">
                        @{
                            int j = -1;
                            foreach (var item in carousel.Items)
                            {
                                j++;
                                string isActiveClassName = string.Empty;
                                if (j == 0)
                                {
                                    isActiveClassName = "active";
                                }
                                else
                                {
                                    isActiveClassName = string.Empty;
                                }
                                <div class="carousel-item @isActiveClassName">
                                    <img src="images/@item.Image" class="d-block w-100" alt="">
                                    <div class="carousel-caption d-none d-md-block">
                                        @if (!string.IsNullOrWhiteSpace(item.Title))
                                        {
                                            <h5 class="text-@item.TextColor">@item.Title</h5>
                                        }
                                        @if (!string.IsNullOrWhiteSpace(item.Description))
                                        {
                                            <p class="text-@item.TextColor">@item.Description</p>
                                        }
                                        @if (!string.IsNullOrWhiteSpace(item.Route))
                                        {
                                            <a class="btn btn-@item.BackgroundColor" href="@item.Route">En savoir plus</a>
                                        }

                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#@carousel.UniqueId"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#@carousel.UniqueId"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-3 pb-5" id="intro">
        <div class="container">
            <Heading Title="Réinventez votre intérieur" />
            <div class="row mb-4">
                <div class="col-12 col-md-5">
                    <h2>Galerie Rénovation Vous accompagne dans vos projets</h2>
                    <p>
                        Ici un cours texte de présentation qui parle de galerie rénovation, son identité, son but , ce qui
                        fait la différence avec les autres entreprises
                    </p>
                </div>
                <div class="col-12 col-md-7">
                    <img class="w-100" src="images/exx.jpeg">
                </div>
            </div>
        </div>
    </section>

    <section class="pt-3 pb-5" id="offers">
        <div class="container">
            <Heading Title="Nos services" />
            <div class="row mb-4">
                <div class="col">
                    <CardGroups Items="services" />
                </div>
            </div>
        </div>
    </section>

    <section class="pt-3 pb-5 bg-light text-dark" id="products">
        <div class="container">
            <Heading Title="Produits phares" />
            <div class="row mb-4">
                <GridCards Items="products" />
            </div>
            <div class="row mb-4">
                <div class="col text-center">
                    <NavLink class="btn btn-outline-dark" href="/Products">
                        Découvrir plus de produits
                    </NavLink>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <p class="lead">
                        <MarkdownReader File="index/products-footer" />
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-3 pb-5" id="achievements">
        <div class="container">
            <Heading Title="Nos réalisations" />
            <div class="row mb-4">
                <GridCards Items="achievements" />
            </div>
            <div class="row mb-4">
                <div class="col text-center">
                    <NavLink class="btn btn-outline-light" href="/achievements">
                        Explorer nos réalisations chez vous
                    </NavLink>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <p class="lead">
                        <MarkdownReader File="index/achievements-footer" />
                    </p>
                </div>
            </div>
        </div>
    </section>
}

@code {
    private IEnumerable<CardItem>? services;
    private IEnumerable<CardItem>? products;
    private IEnumerable<CardItem>? achievements;
    private Carousel? carousel;

    protected override async Task OnInitializedAsync()
    {
        carousel = await Http.GetFromJsonAsync<Carousel>("data/home-carousel.json");
        services = await Http.GetFromJsonAsync<IEnumerable<CardItem>>("data/home-services.json");
        products = await Http.GetFromJsonAsync<IEnumerable<CardItem>>("data/home-products.json");
        achievements = await Http.GetFromJsonAsync<IEnumerable<CardItem>>("data/home-achievements.json");
    }
}